<!DOCTYPE html>
<html>
  <head>
    <title>Logged</title>
  </head>
  <body>
    <h1>You are logged in</h1>
    <a href="/user/profile">Profile</a>
    <a href="/user/profile/settings">Settings</a>
    <a href="/auth/logout">Logout</a>
  </body>
</html>
