<section class="index-page">
  {{#if photos}}
  <img class="avatar" src={{photos}} alt={{name}}>
  {{else}}
  <p>Error: User photo not found</p>
  {{/if}}

  <h1>Hello {{name}}!</h1>

  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
  <a href="/auth/logout">Logout</a>
</section>
<p class="success">
  You have been successfully logged in!
</p>